.links{
    color: white;
    justify-content: center;
    text-align: center;
    display: block;
    text-decoration: none;
}

.links:hover{
    color: #588DB8;
}
.me-auto{
    justify-content: center;
    align-items: center;
}